.header {
    display: flex;
    max-height: 10%;

    .cover{
        display: block;
        background-image: url('./cover.jpg');
        height: 250px;
        width: 100%;
        background-size: cover;
    }
}