.header {
    display: flex;
    max-height: 10%;

    .cover{
        display: block;
    }
    .cover > .photo {
        height: 250px;
        width: 100%;
    }
    .cover > .logo {
        position: relative;
        margin-bottom: 20px;
    }
}